<div class="container">
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
      role="tab" aria-controls="home" aria-selected="true">Active orders</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
      role="tab" aria-controls="profile" aria-selected="false">Past orders</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="dash-tab tab-pane fade show active" style="margin-top: 20px" id="home"
      role="tabpanel" aria-labelledby="home-tab">
      <% @orders.each do |order| %>

        <div type="button" class="collapsible">
          <div class="order-headers">
            <div class="order-info-headers-box">
              <Strong>Id number: </Strong><%= order.id %>&emsp;&emsp;
              <Strong>Status:  </Strong><%= order.status %>&emsp;&emsp;
              <Strong>Confirmation date: </Strong><%= order.confirmation_date %>&emsp;
              <Strong>Delivery date: </Strong><%= order.delivery_date %>
            </div>
            <div class="total-price-box">
            <% price_item = 0 %>
            <% order.order_items.each do |i|  %>
              <% price_item += i.price %>
            <% end %>
             <Strong>Total Price: </Strong>€ <%= price_item %>
            </div>
          </div>
        </div>

        <div class="content">
          <div class="card-product">
            <% order.order_items.each do |i|  %>
              <div class="order-item-box">
                <div class="quantity-name-box d-flex">
                  <p><%= i.quantity %>&emsp;x&emsp;<%= i.product.name %></p>&emsp;&emsp;
                  <p>Unite price:&emsp;€ <%= i.product.unit_price %></p>&emsp;
                </div>
                <div class="price-box">
                  <p>€ <%= i.price %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="dash-tab tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    </div>
  </div>
</div>












</div>
