<div class="container">
  <div class="orders-container">
    <h4><strong>My orders </strong> (<%= @orders.count %>)</h4>
    <% @orders.each do |order| %>
      <div type="button" class="collapsible">
        <div class="order-headers">
          <div class="order-info-headers-box">
            <Strong>Id number: </Strong><%= order.id %>&emsp;&emsp;
            <Strong>Status:  </Strong><%= order.status %>&emsp;&emsp;
            <Strong>Confirmation date: </Strong><%= order.confirmation_date %>&emsp;
            <Strong>Delivery date: </Strong><%= order.delivery_date %>
          </div>
          <div class="total-price-box">
            <Strong>Total Price: </Strong>€ <%= @subtotal %>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="card-product">
          <% order.order_items.each do |i|  %>
            <div class="order-item-box">
              <div class="quantity-name-box d-flex">
                <p><%= i.quantity %>&emsp;x&emsp;<%= i.product.name %></p>&emsp;&emsp;
                <p>Unite price:&emsp;€ <%= i.product.unit_price %></p>&emsp;
              </div>
              <div class="price-box">
                <p>€ <%= i.total_price %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
