<div class="container sign-in-up-box">
  <div class="wrapper-1-sign-in-up">
      <h2>Checkout summary</h2>
      <div class="order-overview" >
        <table>
          <tr>
            <th style="width:35%">Product</th>
            <th style="width:15%">Quantity</th>
            <th style="width:20%">Unit</th>
            <th style="width:20%">Price</th>
            <th style="width:10%">Subtotal</th>
          </tr>
          <% @order.order_items.each do |item| %>
          <tr>
            <td style="overflow-x: hidden; text-overflow: ellipsis;"><%= item.product.name %></td>
            <td><%= item.quantity %></td>
            <td><%= item.product.unit %></td>
            <td>€<%= item.product.unit_price %></td>
            <td>€<%= item.total_price %></td>
          <% end %>
          <tr style="border-top: 1px solid;">
            <th style="width:35%;">Total</th>
            <th style="width:15%"></th>
            <th style="width:20%"></th>
            <th style="width:20%"></th>

            <th style="width:10%">€<%= @order.subtotal %></th>
          </tr>
        </table>
      </div>

      <button id="pay" class="btn btn-danger" style="border-radius: 5px; margin-top: 15px;">Proceed to payment</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
  </div>
    <div class="wrapper-2-sign-in-up"></div>
</div>
