<div class="container">

  <div class="product-container">
    <div class="img-container" style="background-image: url(<%= @product.image_url %>)">
    </div>

    <div class="info-container">
      <div class="first-row">
        <div class="container-name-stars">
          <h1 class="product-header"><strong><%= @product.name %></strong></h1>
          <div class="show-rate-box">
            <%= render "products/rating", avg_score: @product.avg_score  %>
          </div>
        </div>
        <h6><%= @product.user.address %></h6>
        <div class="price-container d-flex">
          <h5>€ <%= @product.unit_price %> x <%= @product.unit %></h5>
        </div>
      </div>

      <div class="description-container">
        <p><%= @product.description %></p>
      </div>

      <div class="third-row">


        <div class="quantity-container">
          <%= simple_form_for [@product, @order_item], authenticity_token: true, remote: true do |f| %>
           <div class="container-plus-and-minus">
              <div class="btns-input">
                <button onclick="if (this.parentNode.querySelector('input[type=number]').value > 1 ) this.parentNode.querySelector('input[type=number]').stepDown();  return false;" class="btn btn-lg minus"><i class="fas fa-minus-circle"></i></button>
                  <div class="input-space"><%= f.input :quantity, label: false, input_html: { value: 1 }%></div>
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp();  return false;" class="btn btn-lg plus btn-plus"><i class="fas fa-plus-circle"></i></button>
              </div>
            </div>
            <%= f.button :submit, 'Add to cart', class:"add-to-cart btn-show-add"%>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="vendor-tab" data-toggle="tab" href="#vendor" role="tab" aria-controls="vendor" aria-selected="true">Producer</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
    </li>
  </ul>


  <div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" style="margin-top: 20px" id="vendor" role="tabpanel" aria-labelledby="vendor-tab">

      <div class="producer-container d-flex">
        <div class="producer-img-container">
            <%=  image_tag(@vendor.image_url) %>
        </div>

        <div class="vendor-info" style="margin-left: 40px">
          <div class="container-producer-name-rating">
            <h2><strong><%= @vendor.company_name %></strong></h2>
            <%= render "products/rating", avg_score: @vendor.user.avg_score %>
          </div>
          <h6><%= @vendor.description %></h6>
        </div>
      </div>

      <!------------------ GEO MAP -------------------->
      <div id="map"
        style="width: 100%; height: 350px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

      <div class="more-products text-center">
        <h1>More from <strong class="color-vendor"><%= @vendor.company_name %></strong></h1>
      </div>

      <div class="col-12 p-0">
        <div class="grid-show">
          <%# ------product card render-------- %>
          <%= render "products/card" %>
        </div>
      </div>
    </div>
    <div></div>
    <div class="tab-pane" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">

    <div type="button" id= "review-collapsible" class="collapsible">
      <div class="order-headers">

        <div class="order-info-headers-box">
          <p> <i class="fas fa-plus"> </i> Review this product</p>
        </div>
      </div>
    </div>
    <div  id="background-review" class="content">
      <%= render 'reviews/form'  %>
    </div>
      <br>
      <h4>All the reviews</h4>
      <div>
        <div class="row">
          <% @product.reviews.each do |review| %>
            <div class="col-12 col-lg-6">
              <div class="header-rate-box d-flex align-items-center pt-4">
                <p class="m-0 p-0 font-weight-bold"><%= review.user.first_name %> <%= review.user.last_name %> </p>
                <p class="ml-4"> <%= render "products/rating", avg_score: review.rating %></p>
              </div>
              <div class="review-description-box">
                <p class="mb-0"> Review: <%= review.content %></p>
                <p class="date-review"> <%=review.created_at.strftime("%d %b %Y") %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div> <!---- closing container ----->
