<div class="container">

  <div class="product-container">
    <div class="img-container">
      <div id="carouselExampleInterval" class="carousel slide"  data-interval="false" data-ride="carousel" style=" width:580px; height: 450px !important;">
        <div class="carousel-inner">
          <div class="carousel-item active">
             <%=  image_tag(@product.image_url) %>
          </div>
          <div class="carousel-item">
             <%=  image_tag(@product.image_url) %>
          </div>
          <div class="carousel-item">
             <%=  image_tag(@product.image_url) %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>

    <div class="info-container">
      <h1 class="product-header"><%= @product.name %></h1>

      <div class="address-review-container">
        <h6><%= @product.user.address %></h6>
        <h6><% @product.avg_score.to_i.times do  %>
              <i class="fas fa-star text-info"></i>
            <% end %>
        </h6>
      </div>

      <div class="description-container">
        <p><%= @product.description %></p>

      </div>

      <div class="price-container d-flex">
        <h5 class="price-container">Price:&emsp;</h5>
        <h5>€ <%= @product.unit_price %> x <%= @product.unit %></h5>
      </div>

      <div class="quantity-container">
        <h5><strong>Qty</strong></h5>
        <%= simple_form_for [@product, @order_item], authenticity_token: true, remote: true do |f| %>
          <div class="def-number-input number-input">
            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown();  return false;" class="minus"></button>
            <%= f.input :quantity, label: false %>
            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp();  return false;" class="plus"></button>
          </div>
          <%= f.button :submit, 'Add to cart', class:"add-to-cart"%>
        <% end %>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="vendor-tab" data-toggle="tab" href="#vendor" role="tab" aria-controls="vendor" aria-selected="true">Producer</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Review</a>
    </li>
  </ul>


  <div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" style="margin-top: 20px" id="vendor" role="tabpanel" aria-labelledby="vendor-tab">
      <div class="producer-container d-flex">
        <div class="producer-img-container">
            <%=  image_tag(@vendor.image_url) %>
        </div>
        <div class="vendor-info" style="margin-left: 40px">
          <h2><%= @vendor.company_name %></h2>

           <h6> <% if @vendor.user.avg_score > 0 %>
            <%@vendor.user.avg_score.to_i.times do  %>
            <i class="fas fa-star text-info"></i>
            <% end %>
            <% else %>
            <%= " " %>
            <% end %>

          <h6><%= @vendor.description %></h6>

        </div>
      </div>
      <!------------------ GEO MAP -------------------->
      <div id="map"
        style="width: 100%; height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

      <div class="more-products text-center">
        <h1>More from <strong class="color-vendor"><%= @vendor.company_name %></strong></h1>
      </div>

      <div class="col-12 p-0">
        <div class="grid-show">
          <!----------------- Vendor info ----------------->
          <% @vendor.user.products.each do |product| %>
            <%= link_to product_path(product) do %>
              <div class="product-card">
                <div class="product-image" style="background-image: url(<%= product.image_url %>)">
                </div>
                <div class="product-info">
                  <h4 class="bold-title"> <%= product.name %> </h4>
                  <p class="category-name-small"><%= product.category %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
        <%= render 'reviews/form'  %>
      <br>

      <h4>All the reviews</h4>

      <% @product.reviews.each do |review| %>
        <p>User: <%= review.user.first_name %> <%= review.user.last_name %></p>
        <p> Review: <%= review.content %></p>
        <h6><%review.rating.to_i.times do  %>
            <i class="fas fa-star text-info"></i>
            <% end %>
        </h6><hr>

      <% end %>
    </div>
  </div>
</div> <!---- closing container ----->
