<!DOCTYPE html>
<html>
  <head>
    <title>Farmer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Sree+Krushnadevaraya&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    <div class="nav1">
      <div class="container">
        <p class='logo'><%= link_to "Organigo", root_path %></p>
          <form action="/products">
            <div class="search">
              <input type="text" name="search" placeholder=" ">
              <div>
                <svg>
                  <use xlink:href="#path">
                </svg>
              </div>
            </div>
          </form>
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 28" id="path">
              <path d="M32.9418651,-20.6880772 C37.9418651,-20.6880772 40.9418651,-16.6880772 40.9418651,-12.6880772 C40.9418651,-8.68807717 37.9418651,-4.68807717 32.9418651,-4.68807717 C27.9418651,-4.68807717 24.9418651,-8.68807717 24.9418651,-12.6880772 C24.9418651,-16.6880772 27.9418651,-20.6880772 32.9418651,-20.6880772 L32.9418651,-29.870624 C32.9418651,-30.3676803 33.3448089,-30.770624 33.8418651,-30.770624 C34.08056,-30.770624 34.3094785,-30.6758029 34.4782612,-30.5070201 L141.371843,76.386562" transform="translate(83.156854, 22.171573) rotate(-225.000000) translate(-83.156854, -22.171573)"></path>
            </symbol>
          </svg>
        <div class="btn-container">

          <% if current_user %>
            <p class="dashboard"><%= link_to "Dashboard", dashboard_path %></p>
            <p class="sign-out-btn"><%= link_to("Sign Out", destroy_user_session_path, method: :delete) %> </p>
            <% if @current_order %>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-transparent border-0 py-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-shopping-cart"></i>
                </button>

                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <% @current_order.order_items.each do |item| %>
                      <div class="dropdown-item" data-id="<%= item.id %>">
                        <span>
                          <button class="btn btn-info quantity-sub">
                            <i class="fas fa-minus"></i>
                          </button>

                          <span class="quantity-for-item"> <%= item.quantity %> </span>

                          <button class="btn btn-info quantity-add">
                            <i class="fas fa-plus"></i>
                          </button>

                          <%= item.product.unit %>
                          <%= item.product.name %>
                        </span>

                        <span>
                          <%= item.total_price %>
                        </span>

                        <button class="btn btn-danger delete-item">
                          <i class="fas fa-trash"></i>
                        </button>
                      </div>
                    <% end %>
                    <div class='total-price'>
                      <span>Total price:</span>
                      <span id="subtotal"><%= @subtotal %></span>
                    </div>
                  </div>
              </div>
            <% end %>
          <% else %>

              <p class="sign-in-btn"><%= link_to "Sign In", new_user_session_path %></p>

              <p class="sign-up-btn"><%= link_to  "Sign Up", new_user_registration_path %></p>

          <% end %>

        </div>
      </div>
      <input type="checkbox" id="slide" name="" value="" />
      <div class="container">
        <label for="slide" class="toggle" id='toggle'> <i class="fas fa-shopping-cart"></i></label>
        <nav class="sidebar">
          <ul>
            <h3>Shopping cart:</h3>
            <% price_item = 0 %>
            <% if Order.find_by(user: current_user, status: "new") %>
              <% Order.find_by(user: current_user, status: "new").order_items.each do |item| %>
                <li class="list-item-cart">
                  <span> <%= item.quantity %> <%= item.product.unit %> <%= item.product.name %></span>  <span> <%= item.price %> </span>
                </li>
                <% price_item += item.price %>
              <% end %>
              <div class='total-price'> <span>Total price:</span><%= price_item %></div>
              <%= simple_form_for Order.find_by(user: current_user, status: ["new", "paying"]) do |f| %>
                <%= f.submit  %>
              <% end %>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
    <%= yield %>

    <%= render 'shared/footer' %>

  </body>
</html>
